@use 'sass:math';

@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Exo+2|Pacifico');

//font-family: 'Cedarville Cursive', cursive;
//font-family: 'Pacifico', cursive;
//font-family: 'Exo 2', sans-serif;

$red: #ff354b;
$pink: #e8a0b5;

@mixin fontsize($pixel) {
  font-size: $pixel + px;
  font-size: ( math.div($pixel, 10) ) + rem;
}

:root {
  font-size: 62.5%;
  body {
    color: #fff;
    font-size: 1.6rem;
  }
}

@media (min-width: 0px) {
  #main-container {
    text-align: center;
    background-size: 100%;
    display: inline-block;
    position: relative;
    z-index: 100;
    width: 100%;
    &:after {
      background-image: linear-gradient($red, $pink);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -100;
      transition: opacity 0.5s;
      opacity: 1;
    }
    &:before {
      background-image: linear-gradient(#79caff, #2cff9a);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -100;
      transition: opacity 0.5s;
      opacity: 0;
    }
    > .container {
      height: 100vh;
    }
    header {
      padding-top: 30vh;
      h1 {
        @include fontsize(30);
        font-family: 'Pacifico', cursive;
      }
    }
    .wrap-links {
      ul {
        font-size: 0;
        margin: 5vh 0;
        li {
          @include fontsize(16);
          padding: 14px;
          display: block;
        }
      }
      a {
        color: #fff;
        font-family: 'Exo 2', sans-serif;
        text-decoration: none;
        border-bottom: 2px solid #fff;
        transition: all 0.1s;
        &:hover, &:focus {
          transition: all 0.1s;
          color: $red;
          border-color: $red;
        }
      }
    }
  }
  .wrap-switcher {
    position: fixed;
    bottom: 50px;
    right: 50px;
    .button {
      background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
      background-image: linear-gradient(top, #f4f1ee, #fff);
      border-radius: 50%;
      box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
      float: left;
      position: relative;
      -webkit-transition: all .1s linear;
      transition: all .1s linear;
      height: 70px;
      width: 70px;
    }
    .button:hover {
      background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
      background-image: linear-gradient(top, #fff, #f4f1ee);
      color: #0088cc;
    }

    .button:active {
      background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
      background-image: linear-gradient(top, #efedec, #f7f4f4);
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .4), inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
    }

  }
}
@media (min-width: 768px) {
  .wrap-switcher {
    bottom: 30px;
    right: 30px;
    .button {
      border-radius: 50%;
      box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
      height: 60px;
      width: 60px;
    }
  }
  #main-container {
    header{
      h1{
        @include fontsize(38);
      }
    }
    .wrap-links {
      ul {
        li {
          @include fontsize(18);
          display: inline-block;
          padding: 5px;
        }
      }
      a{
        border-width: 1px;
      }
    }
  }
}
