<div id="main-container" :class="currentOption.class">
    <section class="container">
        <header>
            <h1 class="email">paulinegc@zoho.com</h1>
        </header>
        <section class="wrap-links">
            <ul>
                <li><a target="_blank" href="http://www.doyoubuzz.com/pauline-gaudet-chardonnet">Doyoubuzz</a></li>
                <li><a target="_blank" href="https://github.com/poplingue">Github</a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/pauline-g-3b3194152/">Linkedin</a></li>
            </ul>
        </section>
        <aside class="wrap-switcher">
            <switcher @switch-gradient="switchGradient"></switcher>
        </aside>
    </section>
</div>
